@font-face {
  font-family: Jost-Medium;
  src: url(/src/assets/Fonts/Jost-Medium.ttf);
}
@font-face {
  font-family: Jost-Regular;
  src: url(/src/assets/Fonts/Jost-Regular.ttf);
}
.ChooseUp {
  height: 209px;
  width: auto;
  background-color: rgba(252, 252, 252, 0.6);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.ChooseUp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/UpDivImg.png);
  filter: blur(60px);
}
.div1-chooseup {
  filter: blur(0px);
  padding-bottom: 45px;
}
.p1-chooseup {
  font-family: Jost-Medium;
  font-size: 26px;
  line-height: 29px;
  margin: 0px;
}
