@font-face {
  font-family: Jost-Medium;
  src: url(/src/assets/Fonts/Jost-Medium.ttf);
}
@font-face {
  font-family: Jost-Regular;
  src: url(/src/assets/Fonts/Jost-Regular.ttf);
}
.SignMid {
  background-color: rgba(254, 254, 254, 0.55);
  height: 338px;
}

.div1-sign-mid {
  max-width: 364px;
  margin: 0 auto;
  padding-top: 38px;
}
.div2-sign-mid {
  font-family: Jost-Regular;
  background-color: rgba(254, 254, 254, 0.55);
  padding: 10px 0;
}

.p1-sign-mid {
  color: #7c7c7c;
  height: 40px;
  margin: 0px;
}

.inpt1-sign-mid {
  color: #000000;
  font-size: 18px;
  height: 40px;
  width: 100%;
  border: 0px;
  border-bottom: 1px solid #e2e2e2;
  background-color: rgba(254, 254, 254, 0.55);
  outline: 0;
  padding: 0px;
}
