@font-face {
  font-family: Jost-Medium;
  src: url(/src/assets/Fonts/Jost-Medium.ttf);
}
@font-face {
  font-family: Jost-Regular;
  src: url(/src/assets/Fonts/Jost-Regular.ttf);
}

.SignLow {
  background-color: rgba(254, 254, 254, 0.55);
  width: auto;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(0px);
}

.SignLow::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(252, 252, 252, 0.6);
  background-image: url(../../assets/sign-img2.png);
  background-repeat: no-repeat;
  background-position:center bottom;
  filter: blur(90px);
}

.div1-sign-low {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: blur(0px);
}

.btn1-sign-low {
  height: 67px;
  width: 364px;
  font-size: 18px;
  font-weight: 700;
  background-color: #ff8b59;
  color: #fff9ff;
  border-radius: 19px;
}

.p1-sign-low {
  font-family: Jost-Regular;
  font-size: 14px;
  line-height: 15.1px;
  margin-top: 30px !important;
}

.a1-sign-low{
  font-family: Jost-Regular;
  text-decoration: none;
  font-size: 14px;
  line-height: 15.1px;
  color: #ff8b59;
}