@font-face {
  font-family: Jost-Medium;
  src: url(/src/assets/Fonts/Jost-Medium.ttf);
}
@font-face {
  font-family: Jost-Regular;
  src: url(/src/assets/Fonts/Jost-Regular.ttf);
}

.SignLow {
  background-color: rgba(254, 254, 254, 0.55);
  width: auto;
  height: 28.46%;
  position: relative;
}

.SignLow::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(252, 252, 252, 0.6);
  background-image: url(../../assets/UpDivImg.png);
  background-repeat: no-repeat;
  background-position:center bottom;
  filter: blur(90px);
}
