@font-face {
  font-family: Jost-Medium;
  src: url(/src/assets/Fonts/Jost-Medium.ttf);
}
@font-face {
  font-family: Jost-Regular;
  src: url(/src/assets/Fonts/Jost-Regular.ttf);
}


.container {
  text-align: center;
  filter: blur(0px);
}

.btn01 {
  height: 67px;
  width: 364px;
  font-size: 18px;
  font-weight: 700;
  background-color: #FF8B59 ; 
  color: #FFF9FF;
  border-radius: 19px;
  margin-top: 100px;
}

.divEmail{
  text-align: center;
  height: 80px;
  width: 364px;
  border-bottom: 1px solid #e2e2e2;
}

.pEmail{
  text-align: left;
  height: 40px;
  width: auto;
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 400;
  margin: 0px !important;
}

.ipntEmail{
  text-align: left;
  height: 40px;
  width: 364px;
  border: 0px;
  padding-left: 0px;
}

.p01{
  font-family: Jost-Regular;
  font-size: 14px;
  line-height: 15.1px;
  margin-top: 30px !important;
}

.link{
  font-family: Jost-Regular;
  text-decoration: none;
  font-size: 14px;
  line-height: 15.1px;
  color: #FF8B59;
}