@font-face {
  font-family: Jost-Medium;
  src: url(/src/assets/Fonts/Jost-Medium.ttf);
}
@font-face {
  font-family: Jost-Regular;
  src: url(/src/assets/Fonts/Jost-Regular.ttf);
}

.btn-div1 {
  text-align: center;
  filter: blur(0px);
}

.btn1 {
  height: 67px;
  width: 364px;
  font-size: 18px;
  font-weight: 700;
  background-color: #ff8b59;
  color: #fff9ff;
  border-radius: 19px;
}
.btn-div2 {
}
.btn-p1 {
  font-family: Jost-Regular;
  font-size: 14px;
  line-height: 15.1px;
  margin-top: 30px !important;
}

.btn-a1 {
  font-family: Jost-Regular;
  text-decoration: none;
  font-size: 14px;
  line-height: 15.1px;
  color: #ff8b59;
}
