@font-face {
  font-family: Jost-Medium;
  src: url(/src/assets/Fonts/Jost-Medium.ttf);
}
@font-face {
  font-family: Jost-Regular;
  src: url(/src/assets/Fonts/Jost-Regular.ttf);
}

.CreateMid {
  background-color: transparent;
  margin: 0 auto;
}
.padding-top {
  padding-top: 50px !important;
}
.padding-bottom {
  padding-bottom: 40px !important;
}
/* ICONES BOTÔES */
.div1-create-mid {
  width: calc(100% - 10%);
  height: 30px;
  margin: 0 auto;
  margin-top: 80px;
  filter: blur(0px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img1-create-mid {
  height: 30px;
  margin: 0px;
  padding: 0px;
}
.img2-create-mid {
  height: 30px;
  margin: 0px;
  padding: 0px;
}

/* FOTO DO GRUPO */
.div2-create-mid {
  filter: blur(0px);
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img3-create-mid {
  margin: 0px;
  padding: 0px;
}

/* INPUT'S */
.div3-create-mid {
  font-family: Jost-Regular;
  background-color: rgba(254, 254, 254, 0.55);
  padding: 20px 0;
  width: calc(100% - 10%);
  margin: 0 auto;
}
.p1-create-mid {
  width: 100%;
  color: gray;
  margin: 0px;
  padding-bottom: 10px;
}
.inpt1-create-mid {
  width: calc(100% - 10%);
  color: #000000;
  font-size: 18px;
  border: 0px;
  border-bottom: 1px solid rgba(226, 226, 226, 1); /* #e2e2e2 */
  background-color: rgba(254, 254, 254, 0.55);
  outline: 0;
  padding: 0px;
}

/* BOTÂO */
.div4-create-mid{
  filter: blur(0px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
}
.link1-create-mid{
width: 100%;
}
.btn1-create-mid{
  width: 90%;
  margin: 0 5%;
  height: 67px;
  font-size: 18px;
  font-weight: 700;
  background-color: #ff8b59;
  color: #fff9ff;
  border-radius: 19px;
}