@font-face {
  font-family: Jost-Medium;
  src: url(/src/assets/Fonts/Jost-Medium.ttf);
}
@font-face {
  font-family: Jost-Regular;
  src: url(/src/assets/Fonts/Jost-Regular.ttf);
}

.InviUp {
  background-color: rgba(252, 252, 252, 0.6);
  width: auto;
  height: 233px;
  position: relative;
}
.InviUp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/UpDivImg.png);
  filter: blur(60px);
}
