@font-face {
  font-family: Jost-Medium;
  src: url(/src/assets/Fonts/Jost-Medium.ttf);
}
@font-face {
  font-family: Jost-Regular;
  src: url(/src/assets/Fonts/Jost-Regular.ttf);
}

.LoginUp {
  background-color: rgba(252, 252, 252, 0.6);
  width: auto;
  height: 303px;
  position: relative;
}

.LoginUp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(252, 252, 252, 0.6);
  background-image: url(../../assets/login-img1.png);
  background-repeat: no-repeat;
  filter: blur(60px);
}

.login-up-div1 {
  position: absolute;
  left: 0;
  right: 0;
  height: 57px;
  margin-top: 235px;
}

.login-up-p1 {
  font-family: Jost-Medium;
  font-size: 26px;
  line-height: 29px;
  color: #181725;
  filter: blur(0px);
  margin: 0px 25px;
}
.login-up-p2 {
  font-family: Jost-Regular;
  font-size: 16px;
  line-height: 15px;
  color: #7c7c7c;
  margin: 0 25px;
  margin-top: 7px;
  margin-bottom: 0px;
}
