@font-face {
  font-family: Jost-Medium;
  src: url(/src/assets/Fonts/Jost-Medium.ttf);
}
@font-face {
  font-family: Jost-Regular;
  src: url(/src/assets/Fonts/Jost-Regular.ttf);
}

.LoginMid {
  background-color: #fcfcfc;
  padding-top: 40px;
  margin: 0 auto;
}

.div1-login-mid {
  font-family: Jost-Regular;
  background-color: rgba(254, 254, 254, 0.55);
  padding: 10px 0;
  width: calc(100% - 10%);
  margin: 0 auto;
}

.p1-login-mid {
  width: 100%;
  color: gray;
  margin: 0px;
  padding-bottom: 10px;
}

.inpt1-login-mid {
  width: 100%;
  color: #000000;
  font-size: 18px;
  border: 0px;
  border-bottom: 1px solid black; /* #e2e2e2 */
  background-color: rgba(254, 254, 254, 0.55);
  outline: 0;
  padding: 0px;
}
